body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #043049;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

footer {
  background-colour: #1E3A5F;
  color: white;
  text-align: center;
  padding: 20px;
  }

  footer input {
    padding 8px;
    width; 200px;
   }

   footer button {
     padding; 8px 15px;
     background-color: #4CAF50;
     color; white;
     border; none;
    }

    footer button:hover {
      background-color: #45a049;
     }